@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body{
        @apply scroll-smooth;
    }
    body{
        @apply overflow-x-hidden bg-dark_bg text-text_primary font-text-roboto;
    }
    input,textarea, button{
        @apply outline-none focus:outline-none;
    }

    @font-face {
        font-family: "Roboto";
        src: url(./fonts/roboto/roboto-Regular.ttf) format("ttf");
    }
    @font-face {
        font-family: "Roboto Bold";
        src: url(../fonts/roboto/roboto-Bold.ttf) format("ttf");
    }
    @font-face {
        font-family: "YouTube Sans Regular";
        src: url(./fonts/youtube-sans/YouTubeSansRegular.otf) format("otf");
    }
    @font-face {
        font-family: "YouTube Sans Bold";
        src: url(./fonts/youtube-sans/YouTubeSansBold.otf) format("otf");
    }
}

@layer components{
    /* Scrollbar Width */
    body::-webkit-scrollbar {
        @apply w-[15px];
    }
    /* Scrollbar Track */
    body::-webkit-scrollbar-track {
        @apply bg-dark_bg;
    }
    /* Scrollbar Handle */
    body::-webkit-scrollbar-thumb {
        @apply bg-text_secondary rounded-sm bg-clip-content border-solid border-y-2 border-x-2 border-transparent hover:bg-light_bg/80;
    }
    /* Scrollbar Buttons */
    body::-webkit-scrollbar-button:single-button {
        @apply block bg-dark_bg h-[15px] bg-clip-content bg-contain bg-no-repeat bg-center;
    }
    body::-webkit-scrollbar-button:single-button:vertical:decrement {
        @apply bg-up_arrow hover:bg-up_arrow_alt;
    }
    body::-webkit-scrollbar-button:single-button:vertical:increment {
        @apply bg-down_arrow hover:bg-down_arrow_alt;
    }
    
    /* Scrollbar Width */
    .custom-scroll_b::-webkit-scrollbar {
        @apply w-0 lg:w-[7px];
    }
    /* Scrollbar Track */
    .custom-scroll_b::-webkit-scrollbar-track {
        @apply bg-dark_bg;
    }
    /* Scrollbar Handle */
    .custom-scroll_b::-webkit-scrollbar-thumb {
        @apply bg-transparent rounded-lg;
    }
    /* Scrollbar Handle appears on hover */
    .custom-scroll_b:hover::-webkit-scrollbar-thumb{
        @apply bg-text_secondary;
    }
    /* Scrollbar Buttons */
    .custom-scroll_b::-webkit-scrollbar-button:single-button {
        @apply block bg-dark_bg w-[7px] h-[15px]
        bg-clip-content bg-contain bg-no-repeat bg-center bg-none;
    }
    .custom-scroll_b:hover::-webkit-scrollbar-button:single-button:vertical:decrement {
        @apply bg-up_arrow hover:bg-up_arrow_alt;
    }
    .custom-scroll_b:hover::-webkit-scrollbar-button:single-button:vertical:increment {
        @apply bg-down_arrow hover:bg-down_arrow_alt;
    }


    .header{
        .searchBox input:focus ~ .hidden-search-icon{
            @apply -order-1 block;
        }
        .searchBox:has(input:focus){
            @apply ml-0  w-[calc(100%+32px)] ;
        }
        .box:has(input:focus){ @apply border-searchBox_focus; }
        svg{ @apply fill-light_bg; }
    }

    .footer{
        div>small{
            @apply text-text_secondary ft-md mb-[-1px];
        }
        small.copyright{
            @apply text-text_disabled;
        }
    }

    .sidebar-collapsed button{
        @apply w-16 pt-4 pb-[14px] rounded-lg
        text-center f-col-center gap-[5px]
        bg-transparent hover:bg-menu_hover;
        svg{ @apply fill-light_bg w-6 h-6; }
        small{ @apply text-[10px] text-text_primary; }
    }
    .sidebar-expanded{
        svg { @apply fill-light_bg; }
        .sidebar-links{
            @apply px-3 py-2.5 border-b border-text_secondary/40;
            h3{ @apply px-3.5 my-1.5 ft-md; }
            .sidebar-link-item{
                @apply flex items-center gap-6 rounded-xl bg-transparent hover:bg-menu_hover w-full px-3.5 py-2;
                svg{ @apply w-6 h-6; }
                p{ @apply text-sm leading-none m-0; }
            }
            .sidebar-link-item.active{
                @apply bg-menu_hover;
            }
        }
        .sidebar-links:last-child{ @apply !border-transparent; }
    }

    .video_category_parent{
        .slick-slider, .video_category{
            @apply mx-5;
            .slick-dots{ @apply hidden; }
            
            .slick-arrow{
                @apply h-6 w-6 f-col-center z-[110]
                opacity-80 hover:opacity-100 hover:rounded-full
                bg-dark_bg hover:bg-menu_hover
                transition-all duration-700 before:hidden;
                svg{ @apply h-fit text-white text-2xl; }
            }
            .slick-next{
                @apply shadow-category_slider_right
            }
            .slick-prev{
                @apply shadow-category_slider_left;
            }
            
            .slick-list{ @apply mx-6;
                .slick-track{
                    @apply flex gap-3 items-center pointer-events-none *:pointer-events-auto;
                    .slick-slide{
                        button{
                            @apply bg-menu_hover hover:bg-outline
                            text-white hover:brightness-150
                            rounded-lg px-3 py-1.5 text-sm select-none
                            transition-all duration-500;
                        }
                        button.active{
                            @apply bg-light_bg text-dark_bg font-medium;
                        }
                    }
                }
            }
        }
        .slick-slider:hover .slick-arrow{
            @apply shadow-none bg-transparent hover:bg-menu_hover;
        }
    }

}

@layer utilities{
    .f-col{ @apply flex flex-col; }
    .f-col-center{ @apply flex flex-col items-center justify-center; }
    .center {@apply items-center justify-center; }
    .between-center {@apply justify-between items-center; }
    .between-end {@apply justify-between items-end; }

    .ft-el{ @apply font-extralight }
    .ft-lt{ @apply font-light }
    .ft-nm{ @apply font-normal }
    .ft-md{ @apply font-medium }
    .ft-sb{ @apply font-semibold }
    .ft-b{ @apply font-bold }
    .ft-ex{ @apply font-extrabold }

    .mx-a{ @apply mx-auto }

    .tx-a{ @apply left-1/2 -translate-x-1/2 }
    .ty-a{ @apply top-1/2 -translate-y-1/2 }
    .txy-a{ @apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 }

    .pointer{ @apply cursor-pointer; }
}